@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
div {
  box-sizing: border-box;
}
.ant-menu-item-selected > div.h-8 {
  background: #fadb14;
}
.ant-menu-inline > li.ant-menu-item {
  padding-left: 14px !important;
}
